*{
	box-sizing: border-box;
}

body{
	font-family: 'Lato';
	margin: 0;
}

img{
	width: 100%;
}

a{
	color: inherit;
	text-decoration: none;
}

header{	
	background-image: url(header-img.png);
	background-size: cover;	
	background-repeat: no-repeat;
	color: white;
	max-width: 100%;
}

.header-gradient{
	height: 782px;
	background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}

.wrapper-nav{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1080px;
	margin: auto;
	padding-top: 17px;
	height: 100px;
	align-items: center;
	
}

header nav{
	width: 445px;
}

.header-navigation{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: 500;
}

.cloud-icon{	
	font-size: 18px;
	font-weight: 600;
}

.button-login{
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}

h1{
	font-size: 72px;
	max-width: 100%;
	margin: auto;
	max-width: 578px;
	margin-top: 160px;
	text-align: center;
}

.offer{
	font-size: 24px;
	max-width: 475px;
	margin: auto;
	margin-top: 39px;
	text-align: center;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
}

.offer-button{
	width: 160px;
	height: 50px;
	font-size: 14px;
	margin: auto;
	margin-top: 39px;
	text-align: center;
	line-height: 50px;
	border-radius: 6px;
	font-weight: 400;
	background-color: white;
	color: #ED4C5C;
}

.manage-section{
	width: 100%;	
}

.wrap{
	max-width: 1110px;
	margin: auto;
	padding: 75px 0 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.info{
	width: 445px;
	height: 250px;
	padding-bottom: 30px;
}

.info-h3{
	font-size: 36px;
	font-weight: 600;
	padding-bottom: 24px;
}

.info-p{
	font-size: 14px;
}

.learn-more{
	color: #ED4C5C;
	padding-top: 20px;
}

.manage-video{
	width: 445px;
	height: 311px;
	margin-right: 50px;
	position: relative;
}

.play-btn{
	position: absolute;
	top: 123px;
	left: -35px;
}

.features-section{
	background-color: #FAFAFA;
}

.title{
	text-align: center;
	width: 300px;
	margin: auto;
	font-size: 36px;
	width: 100px;
	padding: 65px 0 0;
}

.money, .phone, .hallway{
	position: relative;
	padding-bottom: 100px;
}

.block-features{
	background-color: white;
	width: 293px;
	border-radius: 8px;
	position: absolute;
	top: 160px;
	right: 30px;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.title-features{
	text-align: center;
	font-size: 18px;
	width: 230px;
	margin: auto;
	padding: 25px 0;
}

.paragraph-features{
	font-size: 12px;
	width: 229px;
	text-align: center;
	margin: auto;
	padding-bottom: 25px;
}

.read-more{
	font-size: 12px;
	width: 229px;
	text-align: center;
	margin: auto;
	color: #ED4C5C;
	font-weight: 700;
	padding-bottom: 25px;
}

.number-1, .number-2, .number-3, .number-4{
	position: relative;
	text-align: center;
}

.img-01, .img-02, .img-03, .img-04{
	width: 117px;
	margin: auto;
}

.img-cloud-down, .img-find{
	width: 80px;
	position: absolute;
	top: 40px;
	left: 58px;
	opacity: .9;
}

.img-pdf, .img-csv{
	width: 55px;
	position: absolute;
	top: 50px;
	left: 70px;
}

.title-tech{
	font-size: 18px;
	margin: 50px 0 10px;
}

.paragraph-tech{
	font-size: 12px;
	width: 190px;
	margin: auto;
}

.download-section{
	background-color: #ED4C5C;
}

.info-download{
	width: 445px;
}

.title-download{
	font-size: 36px;
	color: white;
	padding-bottom: 24px;
}

.paragraph-download{
	font-size: 14px;
	color: white;
	padding-bottom: 40px;
}

.icons{
	display: flex;
}

.img-playstore, .img-appstore, .img-windows{
	width: 30px;
	margin-right: 15px;
}

.image-wrap{
	position: relative;
	width: 533px;
}

.img-dude{
	position: absolute;
	width: 445px;
	height: 310px;
	z-index: 10;
}

.img-photo-1{
	position: absolute;
	left: -45px;
	top: 25px;
	width: 380px;
	height: 260px;
	z-index: 1;
}

.img-photo-2{
	position: absolute;
	right: 45px;
	top: 25px;
	width: 380px;
	height: 260px;
	z-index: 1;
}

footer{
	background-color: #FAFAFA;
}

.footer-title{
	font-size: 18px;
}

.paragraph-footer{
	font-size: 12px;
	line-height: 10px;
}

.services ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 20px;
}

.face, .inst, .twitt{
	padding-right: 5px;
}

.visa-img{
	width: 250px;
}

.copyright{
	font-size: 12px;
	padding-top: 140px;
}



